/* ------------------------------ RESETTING CSS ----------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

@supports (color: red) {
    html {
        scroll-behavior: smooth;
    }

    *,
    *::before,
    *::after {
        box-sizing: border-box;
        margin    : 0;
        padding   : 0;
        outline   : none;
    }

    ::selection {
        background: #FAFAFA;
        color     : #161616;
    }

    * {
        font-family: 'Poppins';
        line-height: 160%;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family : 'Roboto';
        color       : var(--title-text-clr);
        line-height : 140%;
    }

    a,
    input[type='button'],
    button {
        cursor: pointer;
    }

    a {
        text-decoration: none;
    }

    ul {
        list-style: none;
    }

    img {
        max-width: 100%;
    }

    input,
    button {
        border    : none;
        background: #eee;
        box-shadow: none;
    }
}

/* ----------------------------- CSS STARTS HERE ---------------------------- */

:root {
    --text-clr      : #EEEEEE;
    --title-text-clr: #FAFAFA;
    --bg-clr        : #1b1b1b;
    --bg-clr-alt    : #2b2b2b;
    --bg-clr-alt-2  : #3b3b3b;
    --hue           : 45; /* Yellow accent */
    --accent-clr    : hsl(var(--hue), 100%, 56%);
}

body {
    width       : 100%;
    min-height  : 100vh;
    color       : var(--text-clr);
    background  : var(--bg-clr);
    font-size   : 1em;
}
